node_modules 

dist/
build/

.env
.env.local
.env.production
.env.test
.env.development

*.log
npm-debug.log*
yarn-debug.log*

.DS_store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

*.sqlite
*.db
*.db-journal
.pgdata/

coverage/
.nyc_output/

.env.*.local
.env.*.local.example

*.pids
*.pid
*.seed
*.pid.lock

npm-debug.log*
yarn-debug.log*
lerna-debug.log*

.terraform/
*.tsstate
node_modules
